a.card, a.card:hover
{
    text-decoration : none;
    color : black;
}

.ribbon
{
    margin: 0;
    padding: 0;
    background: green;
    color:white;
    font-size : 90%;
    text-align:center;
    width : 100px;
    position: absolute;
    top:-15px;
    right:-45px;
    transform: rotate(45deg);
    transform-origin: top left;
    clip-path : polygon(20px 0, 80px 0, 100% 100%, 0 100%);
}

.carousel-control-prev
{
    background-color : grey;
    left : 0;
    height : 10%;
    top : 45%;
    opacity : 1;
    width : 5%;
}

.carousel-control-prev:hover
{
    opacity : 1;
    background-color : black;
}

.carousel-control-next
{
    background-color : grey;
    right : 0;
    height : 10%;
    top : 45%;
    opacity : 1;
    width : 5%;
}

.carousel-control-next:hover
{
    opacity : 1;
    background-color : black;
}

.carousel-item
{
    height : 385px;
}

.card
{
    border : 1px solid lightgrey;
    margin : 2px 2px 2px 2px;
    height : 380px;
    box-shadow : 1px 1px 2px lightgrey;
    font-size : 14px;
}

.card:hover
{
    box-shadow : 0px 0px 5px grey;
}

.card_description
{
    height : 100px;
    overflow : hidden;
    text-overflow : ellipsis;
    font-size : 13px;
}

img
{
    width : 100%;
}

.card_table
{
    font-size : 13px;
}

.profile_info
{
    white-space : nowrap;
    overflow : hidden;
    text-overflow : ellipsis;
}

.profile_data
{
    white-space : nowrap;
    overflow : hidden;
    text-overflow : ellipsis;
}

@media (max-width : 400px)
{
    .card_description
    {
        height : 80px;
    }
}